@import "bourbon/_bourbon";
@import "grid-settings";
@import "neat/_neat";

* {
  font-family: Calibri, Myriad, "Helvetica Neue", Arial, sans-serif;
}

section {
  @include outer-container;
  article {
    @include span-columns(3);
  }
}

/* app css stylesheet */
//TODO: Remove
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
/* end app css stylesheet */